* {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    text-shadow: 8px 3px 16px #0000008f;
}

.container {
    height: 100vh;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.logoContainer {
    background-color: #111;
    border-radius: 0 0 100% 0;
    display: inline-block;
    padding: 10px 100px 30px 10px;
    -webkit-box-shadow: 0px 0px 26px 0px #ffffff82;
    box-shadow: 0px 0px 26px 0px #ffffff82;
    margin-bottom: 4%;
}

.logo {
    font-size: 50px;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

.linkContainer {
}

.inputContainer {
    display: flex;
    margin-bottom: 10px;
}

.titleContainer {
    margin-bottom: 15px;
}

.removeLinkButton {
    background-color: #bf2020;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #737373;
}

.removeLinkButton:hover {
    cursor: pointer;
}

.button {
    background-color: #eee;
    padding: 5px;
    color: #333;
    border-radius: 5px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #3c3c3c;
}

.button:hover {
    cursor: pointer;
    border-color: #c6c6c6;
}

.backgroundTitle {
    margin-top: 15px;
}

.backgroundInputs {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.backgroundContainer {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
}

.backgroundColor1 {
    background-image: linear-gradient(to right top, #19191a, #232328, #2c2e36, #363945, #3f4555, #3f485b, #3f4a62, #3e4d68, #344866, #294264, #1b3d62, #043860);
}

.backgroundColor2 {
    background-image: linear-gradient(to right top, #845ec2, #507bd8, #0092dd, #00a4d6, #00b3c9, #00b4bd, #00b4ad, #01b49b, #01aa91, #019f87, #01957d, #008b74);
}

.backgroundColor3 {
    background-image: linear-gradient(to right top, #d65db1, #e861a2, #f46993, #fc7486, #ff827b, #ff8c74, #ff966f, #ffa16b, #ffaa67, #ffb363, #ffbd61, #ffc75f);
}

.links {
    background-color: #eee;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #8a8a8a;
    border-radius: 5px;
    padding: 10px;
}

.linkContainer a {
    margin: 15px;
    text-decoration: none;
}

.linkTitle {
    margin-bottom: 15px;
}

.links:hover {
    cursor: pointer;
}

.generatedURLContainer {
    background-color: #111;
    color: #ddd;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #ffffff82;
    box-shadow: 5px 5px 15px 5px #ffffff82;
    margin-top: 20px;
    border-radius: 10px;
}

.generatedURLContainer a:link {
    color: #ddd;
    text-decoration: underline;
}

.generatedURLContainer a:visited {
    color: #ddd;
    text-decoration: underline;
}

.generatedURL {
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkInputContainer {
    display: flex;
}

.titleInputContainer {
    display: flex;
}

.titleInput {
    width: 100%;
}

.prependInput {
    background-color: grey;
    height: 31px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.selectedBackground {
    display: flex;
    justify-content: center;
}

.generatedItemInfo p,
h2 {
    margin-bottom: 15px;
}

.copyLinkButton {
    text-decoration: underline;
}

.copyLinkButton:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.pageTitle {
    margin-bottom: 15px;
}
